html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*
TAG RULES 
*/
body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
 
}

section{
    scroll-margin-top: 20vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

main {
    padding-top: 16vh;
}


a {
    text-decoration: none;
    color: #333;
}

a img {
    border: none;
}



img.icon {
    width: 100px;
    border: 2px solid #000;
    float: left;
    display: block;
    background-color: #fff;
    opacity: 0.8;
    z-index: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);   /*For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .4s ease;
    margin-right: 30px;

  }

  img.icon:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
  }

.sling {
    list-style: none;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 5vh; 
    display: flex;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    margin-right: 100px;
}

.schools{
    text-decoration: underline;
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: left;

}

.sections-tiles{
    text-align: center;
}
.in-title{
    text-align: left;
}

.relevant-courses{
    list-style:circle;
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: left;
    padding-left: 300px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    border: 1px solid black; 
    text-align: center;
    align-items: start;   
}


/*
ID RULES 
*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #EDF4F2;
    line-height: 100px;
    font-size: 15px;
    z-index: 1000;
    padding-top:unset;
    padding-bottom: unset;
}


#nav {
    background-color: #EDF4F2;
    height: 60px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

#about {
    text-align: center;
    line-height: 25px;
    background-color: #31473A;
    color: white;
  /*  background-color: #495266; gray blue*/
  /*  background-color: #464C57; light gray blue*/
   
  }

  #portrait{
    height: 10%;
    width: 10%; /* Assuming the width and height are the same for a perfect circle */
    float: right;
    margin: 80px 0; /* 80px top and bottom margin, 0 left and right margin */
    border-radius: 50%;
    float: right;
    margin: -5% 10% 10px 10px;
}

  #resume{
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    background-color: #EDF4F2;
    color: #333333;
  }

  

  #about-me{
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
  }
  #projects{
    background-color: #7C8363;
    color: white;
  }

  #skills{
     background-color: #EDF4F2;
  }

  #contact{

  }
  #illustration img {
    padding-top: 150px;
    width: 50%;
    min-width:800px;
  }





  
#footer {
    background: #fafafa;
    min-height: 50px;
    text-align: left;
    color: #b1b1b1;
    padding-top: 20px;
    font-size: 12px;
    line-height: 20px;
}